.features {
    
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    //grid-template-columns: repeat(3, 1fr);
    // Without writing media queries, auto-fit will make it responsive
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start;
}

.feature {
    display: grid;
    // grid-template-rows: min-content 1fr;
    grid-template-columns: [icon-start] min-content [icon-end] 1fr [text-end];
    grid-column-gap: 1.5rem;
    
    &__icon {
        fill: $color-primary;
        width: 4.5rem;
        height: 4.5rem;
        transform: translateY(-1rem);
       
    }

    &__text {
        font-size: 1.7rem;

        grid-column: icon-end / text-end;
    }
}